In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("EU_country_specific_HR.xlsx")

# df
# rcid, ccode, vote, countyname, year
newdf = df.drop(["member", "Country", "session", "abstain", "yes", 
                 "no", "date", "unres", "amend", "para", "short", 
                 "descr", "hr", "resid"], axis='columns')
newdf

      rcid  ccode  vote     Countryname  year
0     4723    310     1         Hungary  2006
1     4723    316     1  Czech Republic  2006
2     4723    317     1        Slovakia  2006
3     4723    339     1         Albania  2006
4     4723    341     1      Montenegro  2006
...    ...    ...   ...             ...   ...
1387  9299    380     1          Sweden  2021
1388  9299    385     1          Norway  2021
1389  9299    390     1         Denmark  2021
1390  9299    395     1         Iceland  2021
1391  9299    710     3           China  2021

[1392 rows x 5 columns]

A value of 1 to countries that vote the same way as China; a value of 0.5 if one of the countries decided to abstain while the other voted either a yes or no; and finally a 0 for countries that voted the opposite to China’s decision. A yearly average was then calculated by dividing a country’s total voting convergence score by the total number of country-specific human rights votes in that year, converting the final value into percentage terms by applying a natural logarithmic transformation.

In [40]:
# list of rcids
rcids = []
for i in newdf["rcid"]:
    if i not in rcids:
        rcids.append(i)

In [49]:
newdf["cvote"] = 0

cvotes = []

resgroup = newdf.groupby(newdf.rcid)
# df1 = resgroup.get_group(4723)

for i in range(len(rcids)):
    df1 = resgroup.get_group(rcids[i])
    # print(len(df1))
    # print("---")
    for q in range(len(df1)):
    #     print(df1.iloc[q]["Countryname"])
    # print("---")
        if df1.iloc[q]["Countryname"] == "China":
            cvotes.append(df1.iloc[q]["vote"])


dictionary = {}
for i in range(len(rcids)):
    dictionary[rcids[i]] = cvotes[i]
    
print(dictionary)

{4723: 3, 4724: 3, 4725: 3, 4736: 1, 4749: 3, 4807: 3, 4813: 3, 4814: 3, 4820: 3, 4882: 3, 4889: 3, 4902: 3, 5029: 3, 5030: 3, 5043: 3, 5108: 3, 5110: 3, 5133: 3, 5134: 3, 5135: 2, 5145: 3, 5916: 1, 5240: 3, 5241: 3, 5935: 1, 5291: 3, 5303: 3, 5377: 3, 5378: 3, 5379: 3, 5458: 3, 5459: 3, 5465: 3, 5487: 3, 5488: 3, 5489: 3, 5556: 3, 5558: 3, 5575: 3, 5593: 3, 6124: 3, 6133: 3, 6155: 3, 6158: 3, 9174: 3, 9196: 3, 9219: 3, 9242: 3, 9250: 3, 9279: 3, 9299: 3}

In [52]:
for i in range(len(newdf)):
    newdf["cvote"] = dictionary[newdf.iloc[i]["rcid"]]
newdf # all china votes for that year

      rcid  ccode  vote     Countryname  year  cvote
0     4723    310     1         Hungary  2006      3
1     4723    316     1  Czech Republic  2006      3
2     4723    317     1        Slovakia  2006      3
3     4723    339     1         Albania  2006      3
4     4723    341     1      Montenegro  2006      3
...    ...    ...   ...             ...   ...    ...
1387  9299    380     1          Sweden  2021      3
1388  9299    385     1          Norway  2021      3
1389  9299    390     1         Denmark  2021      3
1390  9299    395     1         Iceland  2021      3
1391  9299    710     3           China  2021      3

[1392 rows x 6 columns]

In [66]:
newdf["alignment"] = "NA"

for i in range(len(newdf)):
    if (newdf.loc[i, "vote"] == 8) or (newdf.loc[i, "vote"] == 9):
        newdf.loc[i, "alignment"] = "NA"
    elif newdf.loc[i, "vote"] == newdf.loc[i, "cvote"]:
        newdf.loc[i, "alignment"] = 1
    elif (newdf.loc[i, "vote"] == 2) or (newdf.loc[i, "cvote"] == 2):
        newdf.loc[i, "alignment"] = 0.5
    else:
        newdf.loc[i, "alignment"] = 0

In [67]:
newdf

      rcid  ccode  vote     Countryname  year  cvote alignment
0     4723    310     1         Hungary  2006      3         0
1     4723    316     1  Czech Republic  2006      3         0
2     4723    317     1        Slovakia  2006      3         0
3     4723    339     1         Albania  2006      3         0
4     4723    341     1      Montenegro  2006      3         0
...    ...    ...   ...             ...   ...    ...       ...
1387  9299    380     1          Sweden  2021      3         0
1388  9299    385     1          Norway  2021      3         0
1389  9299    390     1         Denmark  2021      3         0
1390  9299    395     1         Iceland  2021      3         0
1391  9299    710     3           China  2021      3         1

[1392 rows x 7 columns]

In [ ]:
# new column for comparison (alignment)


# newaverage alignment per country per year

# misc